/*chrome¹ö¶¯Ìõ*/
::-webkit-scrollbar {
width: 15px;
}/* Track & scroll thickness */
::-webkit-scrollbar-track {
background-color:#fff;
}/* Track color */
::-webkit-scrollbar-thumb {
background-color: #ccc;
border-radius: 7px;
/**box-shadow:2px 2px 3px #F6C;**/
}/* Scroll color */
::-webkit-scrollbar-thumb:hover {
background-color: #999;
}/* Scroll hover color */
::-webkit-scrollbar-thumb:active {
background-color: #999;
}/* Scroll click & drag color */


body {
	font-size: 15px;
	background : url(appbg.jpg);
	padding:0;
	margin:0 0;
	vertical-align:middle;
	text-align:center;
	height:100%;
}
div {
	opacity: 0.98;
	margin:0px;
	padding:0px;
}

#container {
	margin:0 auto;
	text-align:left;
	padding:0;
	height:100%;
	background : #EAEEF3;
}
.left9{
	 width:40%;
	 height:100%;
	 float:left;	
}
.right9 {
	width:60%;
	height:100%;
	float:left;
}
.header {
	height:50px;
	width:100%;
	clear:left;
	padding:0;
	margin:0;
}

#listing, #content {
	overflow-y:auto;
	height:94%;
	clear:left;
	width:100%;
	padding:0;
	margin:0;
	border:0;
}
.list_item {
	// background: -webkit-gradient(linear, 0 0, 100% 0, from(#FAFEF3), to(#8AFEA3));
	 //height:35px;
	 vertical-align:middle;
	 width:90%;
	 margin:7px auto;	
	 text-align:left;
	 cursor:pointer;
	 min-height:35px;
}
.list_item_normal{
	background-color : #FAFEF3;
	padding:10px 0 0 20px;
}

.list_item_selected{
	background-color : #4f9060;
	padding-left:30px;
}
.list_item_hover{
	background-color : #DDAECD;
	padding-left:10px;
}

.content_item{
	background-color : #FAFEF3;
	margin:20px auto;
	padding:13px 15px 13px 15px;
	width:92%;
	word-break:break-all;
}
.title {
	font-size: 30px;
	font-weight: 400;
	line-height: 44px;
	text-shadow: 1px 1px 3px #888;
	text-align: center;
	margin: 0 auto;
}
.title .time {
	font-size: 12px;
	font-weight: 40;
	line-height: 12px;
	text-shadow: none;
	text-align: left;
}
.title .userName {
	font-size: 12px;
	font-weight: 40;
	line-height: 12px;
	text-shadow: none;
	text-align: left;
}
.content_font {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#back, #open {
	width:20%;
	line-height:30px; 
	vertical-align:middle;
	text-align:center;
	float:left;
	margin: 10px 0 0 20px;
}
.btn_0{
	background-color : #FAFEF3;
	padding: 0 12px;
	cursor:pointer;
}
.btn_hover{
	background-color : #DDAECD;			
	padding: 0 8px;
}
.user_info {
	color : #D064FC;
	font-style:bold;
}
.round_angle {
	border-radius: 5px;
	box-shadow:2px 2px 3px #F6C;
}

.loading {
	display:none;
	float:left;
	text-align:center;
	width:100%;
	vertical-align:middle;
	margin:10px auto;
}
.loading img{
	width:72px;
	/**height:12px;**/
	margin:0 auto;
}

.smilies_image {
	width:24px;
	height:24px;
}

/**hotfix for qiushibaike.**/

.clearfix ul li {float:left;height:100%;display:none;}
.bar {height:100%;}



.content_info {
	border-top:1px solid #ccc;
	padding-top:8px;
}


.man_pic {
	min-width:43px;
	min-height:43px;
}